body {
    font-family: Arial, Helvetica, sans-serif
}

form  {
    width: 700px;
    height: 400px;
    border: black 1px solid;
    border-radius: 20px;
    background-color: rgb(192, 206, 206);
    display: block;
    padding: 20px;
}

input, label, select {
    display: block;
    margin-top: 5px;
    
}

#zk-input {
    width: 70%;
    margin-bottom: 30px;
}

.vorne, .hinten {
    width: 350px;
    float: left;
}



#button_trennen, #button_clear, #test_split {
    width: 100px;
    height: 30px;
    color: white;
    background-color: teal;
    font-weight: bold;
    margin-top: 20px;
    outline: none;
}